*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-style: italic; font-family: 'Dancing Script', cursive; 
  }
  body{
    margin: 0;
    padding: 0;
    background-color: #feefe3;
    position: relative;
  }

